<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: farah
Vendor: slothsoft
Farah ID: farah://slothsoft@farah
Composer ID: slothsoft/farah

Homepage: http://farah.slothsoft.net/modules/farah
Packagist: https://packagist.org/packages/slothsoft/farah
GitHub: https://github.com/Faulo/slothsoft-farah

Llo
-->
  <default-configuration/>
  <assets>
    <directory name="schema">
      <directory name="module"/>
      <directory name="dictionary"/>
      <directory name="sites"/>
    </directory>
  </assets>
</module>
