@font-face {
  font-family: "Ambermoon-game";
  src: local("Ambermoon-game"),
       url("/slothsoft@test/fonts/Ambermoon-game.ttf") format("truetype"),
       url("/slothsoft@test/fonts/Ambermoon-game.otf") format("opentype");
}

@font-face {
  font-family: "Ambermoon-rune";
  src: local("Ambermoon-rune"),
       url("/slothsoft@test/fonts/Ambermoon-rune.ttf") format("truetype"),
       url("/slothsoft@test/fonts/Ambermoon-rune.otf") format("opentype");
}

@font-face {
  font-family: "Amberworld";
  src: local("Amberworld"),
       url("/slothsoft@test/fonts/Amberworld.woff2") format("woff2"),
       url("/slothsoft@test/fonts/Amberworld.ttf") format("truetype"),
       url("/slothsoft@test/fonts/Amberworld.otf") format("opentype");
}

@font-face {
  font-family: "Amberworld 5px";
  src: local("Amberworld 5px"),
       url("/slothsoft@test/fonts/Amberworld 5px.ttf") format("truetype");
}

